<div>
    <div class="modal-header">
        <h3 class="modal-title" align="center">
            新增影片
        </h3>
    </div>
    <div class="modal-body">
        <div align="center">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-offset-2 col-sm-2">电影名</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" ng-model="formData.movieName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-offset-2 col-sm-2">电影主角</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" ng-model="formData.movieMainrole">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-offset-2 col-sm-2">电影导演</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" ng-model="formData.movieDirector">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-offset-2 col-sm-2">电影首映日</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" ng-model="formData.moviePremiereDay">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-offset-2 col-sm-2">电影简介</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="5" ng-model="formData.movieInfo"></textarea>
                    </div>
                </div>
                <div class="form-group">
                   <input type="file" nv-file-select uploader="uploader" filters="fileNumber" name="multipartFile">
                    <ul >
                       <li ng-repeat="item in uploader.queue">
                           Name: <span ng-bind="item.file.name" ></span><br/>
                       </li>
                    </ul>
                    <button class="btn-default" ng-click="uploader.uploadAll()">上传</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="text-align: center">

        <button class="btn btn-primary" type="button" ng-click="saveOrUpdateMovie()">
            确认
        </button>
        <button class="btn btn-warning" ng-click="cancel()" type="button">
            退出
        </button>

    </div>
</div>