<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="others/jdbc.properties"/>
    
    <settings>
        <!--是否使用缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--是否启用层级的按需加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--是否启用懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--默认的执行器-->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!--驼峰映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--日志配置-->
        <setting name="logImpl" value="LOG4J"></setting>
    </settings>
    <typeAliases>
        <package name="com.lei.pojo"></package>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>