<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.dao.mapper.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.lei.pojo.Cinema">
    <id column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="cinema_area" jdbcType="DOUBLE" property="cinemaArea" />
    <result column="cinema_position" jdbcType="VARCHAR" property="cinemaPosition" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_owner" jdbcType="VARCHAR" property="cinemaOwner" />
  </resultMap>
  <sql id="Base_Column_List">
    cinema_id, cinema_area, cinema_position, cinema_name, cinema_owner
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cinema
    where cinema_id = #{cinemaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cinema
    where cinema_id = #{cinemaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lei.pojo.Cinema">
    insert into cinema (cinema_id, cinema_area, cinema_position, 
      cinema_name, cinema_owner)
    values (#{cinemaId,jdbcType=INTEGER}, #{cinemaArea,jdbcType=DOUBLE}, #{cinemaPosition,jdbcType=VARCHAR}, 
      #{cinemaName,jdbcType=VARCHAR}, #{cinemaOwner,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lei.pojo.Cinema">
    insert into cinema
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cinemaId != null">
        cinema_id,
      </if>
      <if test="cinemaArea != null">
        cinema_area,
      </if>
      <if test="cinemaPosition != null">
        cinema_position,
      </if>
      <if test="cinemaName != null">
        cinema_name,
      </if>
      <if test="cinemaOwner != null">
        cinema_owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cinemaId != null">
        #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="cinemaArea != null">
        #{cinemaArea,jdbcType=DOUBLE},
      </if>
      <if test="cinemaPosition != null">
        #{cinemaPosition,jdbcType=VARCHAR},
      </if>
      <if test="cinemaName != null">
        #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="cinemaOwner != null">
        #{cinemaOwner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lei.pojo.Cinema">
    update cinema
    <set>
      <if test="cinemaArea != null">
        cinema_area = #{cinemaArea,jdbcType=DOUBLE},
      </if>
      <if test="cinemaPosition != null">
        cinema_position = #{cinemaPosition,jdbcType=VARCHAR},
      </if>
      <if test="cinemaName != null">
        cinema_name = #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="cinemaOwner != null">
        cinema_owner = #{cinemaOwner,jdbcType=VARCHAR},
      </if>
    </set>
    where cinema_id = #{cinemaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lei.pojo.Cinema">
    update cinema
    set cinema_area = #{cinemaArea,jdbcType=DOUBLE},
      cinema_position = #{cinemaPosition,jdbcType=VARCHAR},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      cinema_owner = #{cinemaOwner,jdbcType=VARCHAR}
    where cinema_id = #{cinemaId,jdbcType=INTEGER}
  </update>
</mapper>