<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.lei.pojo.User">
    <id column="ssm_user_id" jdbcType="INTEGER" property="ssmUserId" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
  </resultMap>

  <sql id="Base_Column_List">
    ssm_user_id, user_age, permission_id, username, password, user_sex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where ssm_user_id = #{ssmUserId,jdbcType=INTEGER}
  </select>
  <select id="selectUserByUsername" resultType="com.lei.pojo.User" parameterType="string">
    select  <include refid="Base_Column_List"></include>
    from users
    where  username=#{username}
  </select>
  <select id="selectUserByUsernameAndPassword" resultType="com.lei.pojo.User" parameterType="User">
    select * from users where  username=#{username} and password=#{password}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where ssm_user_id = #{ssmUserId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lei.pojo.User">
    insert into users (ssm_user_id, user_age, permission_id, 
      username, password, user_sex
      )
    values (#{ssmUserId,jdbcType=INTEGER}, #{userAge,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lei.pojo.User">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ssmUserId != null">
        ssm_user_id,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ssmUserId != null">
        #{ssmUserId,jdbcType=INTEGER},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lei.pojo.User">
    update users
    <set>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
    </set>
    where ssm_user_id = #{ssmUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lei.pojo.User">
    update users
    set user_age = #{userAge,jdbcType=INTEGER},
      permission_id = #{permissionId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR}
    where ssm_user_id = #{ssmUserId,jdbcType=INTEGER}
  </update>
</mapper>